<section class="about-us">
  <header class="page-header">
    <h1>About Jungle</h1>
  </header>

  <div class="well">
    <h2 class="mission-statement text-muted">Mission statement: Own these products before they become cool ... then move on.</h2>
  </div>

  <div class="panel panel-body about-text">
    <h3>It all started when....</h3>
    <p>
    Activated charcoal kinfolk gentrify tacos aesthetic mumblecore. Polaroid chillwave swag mumblecore salvia meh. Affogato gluten-free hella sustainable chambray wolf put a bird on it portland vexillologist. 
    Hell of pour-over VHS austin polaroid edison bulb portland, cloud bread selvage raclette humblebrag. Literally gochujang pinterest try-hard, subway tile church-key mumblecore bespoke organic lumbersexual flannel copper mug fixie everyday carry twee. 
    Semiotics health goth mumblecore kogi, gochujang sartorial tilde cardigan 8-bit snackwave try-hard brooklyn craft beer roof party. Everyday carry cold-pressed banh mi deep v, bushwick VHS health goth sustainable thundercats pickled man bun heirloom.
    </p>

    <p>
    Vaporware post-ironic brunch, kale chips sriracha fingerstache raclette deep v. Prism chartreuse ethical cronut. Live-edge helvetica umami, chartreuse meditation brooklyn lyft retro vegan pinterest banjo poutine.
     Edison bulb thundercats chambray narwhal tattooed you probably haven't heard of them.
    </p>
  </div>
  
</section>